{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Writer Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue-grey darken-1">
        <ul>
          <li><a href="{% url 'home' %}" class="right brand-logo">&nbsp;&nbsp;Writers Collector</a></li>
        </ul>
        <ul class="left">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'writer_create' %}">Add a Writer</a></li>
          <li><a href="{% url 'index' %}">View All Writers</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer  blue-grey darken-1">
    <div class="right">All Rights Reserved, &copy; {% now "Y" %} Writer Collector &nbsp;</div>
  </footer>
</body>
</html>